{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('styles/home.css') }}">
{% endblock %}

{% block title %}Knowledge{% endblock %}

{% block body %}
    <div class="text-center mb-5 presentation">
        <h1>Knowledge, qui sommes-nous ?</h1>
        <h2>Bienvenue chez Knowledge</h2>
        <p>Nous sommes une société spécialisée dans l'édition de livres de formation.</p>
        <p>Nous avons décidé de vous proposer une plateforme numérique sur laquelle vous pourrez étudier de 
            chez vous et en toute autonomie les formations que vous aurez choisies.</p>
    </div>  
    <div class="text-center mb-5 mt-5 flash-message">
        <h2><strong>ATTENTION SITE RÉALISÉ DANS LE CADRE D'UNE FORMATION PROFESSIONNELLE</strong></h2>
        <p>Ce site n'est pas une entreprise réelle, rien ne peux être acheté.</p>
        <h3>N'entrez sous aucun prétexte vos données bancaires</h3>
    </div>
{% endblock %}
