<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Paiement Stripe</title>
    <script src="https://js.stripe.com/v3/"></script>
</head>
<body>
    <div class="text-center">
        <h1>Page de paiement</h1>
        <button id="checkout-button">Payer avec Stripe</button>
    </div>

    <script type="text/javascript">
        var stripe = Stripe('pk_test_oKhSR5nslBRnBZpjO6KuzZeX');  // Remplacez par votre clé publique Stripe
        var checkoutButton = document.getElementById('checkout-button');

        checkoutButton.addEventListener('click', function () {
            // Créer la session Stripe avec le sessionId passé depuis Symfony
            stripe.redirectToCheckout({ sessionId: '{{ sessionId }}' })
                .then(function (result) {
                    if (result.error) {
                        alert(result.error.message);
                    }
                });
        });
    </script>
</body>
</html>
