.form-container {
    padding: 20px; 
    margin: 0 auto; 
    max-width: 80%; 
    background-color: #f1f8fc;
    border-radius: 15px;      
    box-shadow: 0 2px 15px #0074c7;
}

.back-container {
    padding: 20px; 
    margin: 0 auto; 
    max-width: 95%; 
    background-color: #f1f8fc;
    border-radius: 15px;      
    box-shadow: 0 2px 15px #0074c7;
}

.card {
    box-shadow: 0 2px 10px #0074c7;
    border: none;
}

.card-header {
    background-color:#384050 ;
}

.separator {
    border: none;
    border-top: 2px solid #0074c7;
    margin: 20px 0;
}

.btn-custom {
    background-color: #0074c7;
    border: none;
    color: white;
    margin-top: 1rem;
    padding: 12px 20px;
    border-radius: 15px;
    font-size: 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
    width: 80%;
}

.btn-custom:hover {
    background-color: #82b864;
    transform: translateY(-2px);
}