header {
    background-color: #f1f8fc;
    padding: 20px;
    padding-bottom: 2px;
    display: flex; 
    align-items: flex-start;
    box-shadow: 0 2px 15px rgba(0, 116, 199, 0.8);
    height: 10%;
}

.logo-container {
    display: flex;
    flex-direction: column; 
    align-items: flex-start; 
    margin-right: auto; 
}

.nav-link {
    color: #0074c7;
    background-color: #f1f8fc;
}

.nav-link:hover {
    color: #00497c;
}

.navbar {
    background-color: #f1f8fc !important;
}

.logo {
    height: 120px;
}

.slogan {
    text-align: left; 
    font-size: 0.7rem; 
    color: #0074c7; 
    margin-top: -5px; 
}

.container {
    margin-top: 3%;
}

.title-back {
    color: #00497c;
}

.btn-follow {
    background-color: #82b864 !important;
    border-color: #82b864 !important;
    color: white !important;
}

.btn-follow:hover {
    color: #00497c !important;
}
