header {
    background-color: #f1f8fc;
    padding: 20px;
    padding-bottom: 2px;
    display: flex; 
    align-items: flex-start;
    box-shadow: 0 2px 15px rgba(0, 116, 199, 0.8);
    height: 10%;
}

.logo-container {
    display: flex;
    flex-direction: column; 
    align-items: flex-start; 
    margin-right: auto; 
}

.nav-link {
    color: #0074c7;
    background-color: #f1f8fc;
}

.nav-link:hover {
    color: #00497c;
}

.navbar {
    background-color: #f1f8fc !important;
}

.logo {
    height: 120px;
}

.slogan {
    text-align: left; 
    font-size: 0.7rem; 
    color: #0074c7; 
    margin-top: -5px; 
}

.title-back {
    color: #00497c;
}

.btn-follow {
    background-color: #82b864 !important;
    border-color: #82b864 !important;
    color: white !important;
}

.btn-follow:hover {
    color: #00497c !important;
}

h1 {
    font-size: 2.5rem;           
    color: #0074c7;    
    margin-bottom: 2rem;             
}

h2,h3 {
    font-size: 2rem;             
    color: #00497c;                 
    margin-top: 20px;
    margin-bottom: 2rem;           
}

p, ul, li {
    font-size: 1rem;             
    color: #384050;               
    line-height: 1.5;                  
}

.container {
    margin: 3rem auto;              
    padding: 20px;               
    background-color: #f1f8fc;  
    border-radius: 15px;      
    box-shadow: 0 2px 15px #0074c7; 
}

